/*[ FONT SIZE ]
///////////////////////////////////////////////////////////
*/
.fs-1 {
    font-size: 1px;
}

.fs-2 {
    font-size: 2px;
}

.fs-3 {
    font-size: 3px;
}

.fs-4 {
    font-size: 4px;
}

.fs-5 {
    font-size: 5px;
}

.fs-6 {
    font-size: 6px;
}

.fs-7 {
    font-size: 7px;
}

.fs-8 {
    font-size: 8px;
}

.fs-9 {
    font-size: 9px;
}

.fs-10 {
    font-size: 10px;
}

/*[ PADDING ]
///////////////////////////////////////////////////////////
*/
.p-t-0 {
    padding-top: 0;
}

.p-t-1 {
    padding-top: 1px;
}

.p-t-2 {
    padding-top: 2px;
}

.p-t-3 {
    padding-top: 3px;
}

.p-t-4 {
    padding-top: 4px;
}

.p-t-5 {
    padding-top: 5px;
}

.p-t-6 {
    padding-top: 6px;
}

.p-t-7 {
    padding-top: 7px;
}

.p-t-8 {
    padding-top: 8px;
}

.p-t-9 {
    padding-top: 9px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-b-0 {
    padding-bottom: 0;
}

.p-b-1 {
    padding-bottom: 1px;
}

.p-b-2 {
    padding-bottom: 2px;
}

.p-b-3 {
    padding-bottom: 3px;
}

.p-b-4 {
    padding-bottom: 4px;
}

.p-b-5 {
    padding-bottom: 5px;
}

.p-b-6 {
    padding-bottom: 6px;
}

.p-b-7 {
    padding-bottom: 7px;
}

.p-b-8 {
    padding-bottom: 8px;
}

.p-b-9 {
    padding-bottom: 9px;
}

.p-b-10 {
    padding-bottom: 10px;
}

.p-l-0 {
    padding-left: 0;
}

.p-l-1 {
    padding-left: 1px;
}

.p-l-2 {
    padding-left: 2px;
}

.p-l-3 {
    padding-left: 3px;
}

.p-l-4 {
    padding-left: 4px;
}

.p-l-5 {
    padding-left: 5px;
}

.p-l-6 {
    padding-left: 6px;
}

.p-l-7 {
    padding-left: 7px;
}

.p-l-8 {
    padding-left: 8px;
}

.p-l-9 {
    padding-left: 9px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-l-15 {
    padding-left: 15px;
}

.p-r-0 {
    padding-right: 0;
}

.p-r-1 {
    padding-right: 1px;
}

.p-r-2 {
    padding-right: 2px;
}

.p-r-3 {
    padding-right: 3px;
}

.p-r-4 {
    padding-right: 4px;
}

.p-r-5 {
    padding-right: 5px;
}

.p-r-6 {
    padding-right: 6px;
}

.p-r-7 {
    padding-right: 7px;
}

.p-r-8 {
    padding-right: 8px;
}

.p-r-9 {
    padding-right: 9px;
}

.p-r-10 {
    padding-right: 10px;
}

.p-r-15 {
    padding-right: 15px;
}


/*[ MARGIN ]
///////////////////////////////////////////////////////////
*/
.m-t-0 {
    margin-top: 0;
}

.m-t-1 {
    margin-top: 1px;
}

.m-t-2 {
    margin-top: 2px;
}

.m-t-3 {
    margin-top: 3px;
}

.m-t-4 {
    margin-top: 4px;
}

.m-t-5 {
    margin-top: 5px;
}

.m-t-6 {
    margin-top: 6px;
}

.m-t-7 {
    margin-top: 7px;
}

.m-t-8 {
    margin-top: 8px;
}

.m-t-9 {
    margin-top: 9px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-11 {
    margin-top: 11px;
}

.m-t-12 {
    margin-top: 12px;
}

.m-t-13 {
    margin-top: 13px;
}

.m-t-14 {
    margin-top: 14px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-t-16 {
    margin-top: 16px;
}

.m-t-17 {
    margin-top: 17px;
}

.m-t-18 {
    margin-top: 18px;
}

.m-t-19 {
    margin-top: 19px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-b-1 {
    margin-bottom: 1px;
}

.m-b-2 {
    margin-bottom: 2px;
}

.m-b-3 {
    margin-bottom: 3px;
}

.m-b-4 {
    margin-bottom: 4px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-b-6 {
    margin-bottom: 6px;
}

.m-b-7 {
    margin-bottom: 7px;
}

.m-b-8 {
    margin-bottom: 8px;
}

.m-b-9 {
    margin-bottom: 9px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-11 {
    margin-bottom: 11px;
}

.m-b-12 {
    margin-bottom: 12px;
}

.m-b-13 {
    margin-bottom: 13px;
}

.m-b-14 {
    margin-bottom: 14px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-16 {
    margin-bottom: 16px;
}

.m-b-17 {
    margin-bottom: 17px;
}

.m-b-18 {
    margin-bottom: 18px;
}

.m-b-19 {
    margin-bottom: 19px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-l-0 {
    margin-left: 0;
}

.m-l-1 {
    margin-left: 1px;
}

.m-l-2 {
    margin-left: 2px;
}

.m-l-3 {
    margin-left: 3px;
}

.m-l-4 {
    margin-left: 4px;
}

.m-l-5 {
    margin-left: 5px;
}

.m-l-6 {
    margin-left: 6px;
}

.m-l-7 {
    margin-left: 7px;
}

.m-l-8 {
    margin-left: 8px;
}

.m-l-9 {
    margin-left: 9px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-l-40 {
    margin-left: 40px;
}

.m-r-0 {
    margin-right: 0;
}

.m-r-1 {
    margin-right: 1px;
}

.m-r-2 {
    margin-right: 2px;
}

.m-r-3 {
    margin-right: 3px;
}

.m-r-4 {
    margin-right: 4px;
}

.m-r-5 {
    margin-right: 5px;
}

.m-r-6 {
    margin-right: 6px;
}

.m-r-7 {
    margin-right: 7px;
}

.m-r-8 {
    margin-right: 8px;
}

.m-r-9 {
    margin-right: 9px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-l-r-auto {
    margin-left: auto;
    margin-right: auto;
}

.m-l-auto {
    margin-left: auto;
}

.m-r-auto {
    margin-right: auto;
}


/*[ TEXT ]
///////////////////////////////////////////////////////////
*/
/* ------------------------------------ */
.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-hov-white:hover {
    color: white;
}

/* ------------------------------------ */
.text-up {
    text-transform: uppercase;
}

/* ------------------------------------ */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-middle {
    vertical-align: middle;
}

/* ------------------------------------ */
.lh-1-0 {
    line-height: 1.0;
}

.lh-1-1 {
    line-height: 1.1;
}

.lh-1-2 {
    line-height: 1.2;
}

.lh-1-3 {
    line-height: 1.3;
}

.lh-1-4 {
    line-height: 1.4;
}

.lh-1-5 {
    line-height: 1.5;
}

.lh-1-6 {
    line-height: 1.6;
}

.lh-1-7 {
    line-height: 1.7;
}

.lh-1-8 {
    line-height: 1.8;
}

.lh-1-9 {
    line-height: 1.9;
}

.lh-2-0 {
    line-height: 2.0;
}

.lh-2-1 {
    line-height: 2.1;
}

.lh-2-2 {
    line-height: 2.2;
}

.lh-2-3 {
    line-height: 2.3;
}

.lh-2-4 {
    line-height: 2.4;
}

.lh-2-5 {
    line-height: 2.5;
}

.lh-2-6 {
    line-height: 2.6;
}

.lh-2-7 {
    line-height: 2.7;
}

.lh-2-8 {
    line-height: 2.8;
}

.lh-2-9 {
    line-height: 2.9;
}


/*[ SHAPE ]
///////////////////////////////////////////////////////////
*/

/*[ Display ]
-----------------------------------------------------------
*/
.dis-none {
    display: none;
}

.dis-block {
    display: block;
}

.dis-inline {
    display: inline;
}

.dis-inline-block {
    display: inline-block;
}

.dis-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

/*[ Position ]
-----------------------------------------------------------
*/
.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.pos-fixed {
    position: fixed;
}

/*[ float ]
-----------------------------------------------------------
*/
.float-l {
    float: left;
}

.float-r {
    float: right;
}


/*[ Width & Height ]
-----------------------------------------------------------
*/
.sizefull {
    width: 100%;
    height: 100%;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.max-w-full {
    max-width: 100%;
}

.max-h-full {
    max-height: 100%;
}

.min-w-full {
    min-width: 100%;
}

.min-h-full {
    min-height: 100%;
}

/*[ Top Bottom Left Right ]
-----------------------------------------------------------
*/
.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.top-auto {
    top: auto;
}

.bottom-auto {
    bottom: auto;
}

.left-auto {
    left: auto;
}

.right-auto {
    right: auto;
}


/*[ Opacity ]
-----------------------------------------------------------
*/
.op-0-0 {
    opacity: 0;
}

.op-0-1 {
    opacity: 0.1;
}

.op-0-2 {
    opacity: 0.2;
}

.op-0-3 {
    opacity: 0.3;
}

.op-0-4 {
    opacity: 0.4;
}

.op-0-5 {
    opacity: 0.5;
}

.op-0-6 {
    opacity: 0.6;
}

.op-0-7 {
    opacity: 0.7;
}

.op-0-8 {
    opacity: 0.8;
}

.op-0-9 {
    opacity: 0.9;
}

.op-1-0 {
    opacity: 1;
}

/*[ Background ]
-----------------------------------------------------------
*/
.bgwhite {
    background-color: white;
}

.bgblack {
    background-color: black;
}


/*[ Wrap Picture ]
-----------------------------------------------------------
*/
.wrap-pic-w img {
    width: 100%;
}

.wrap-pic-max-w img {
    max-width: 100%;
}

/* ------------------------------------ */
.wrap-pic-h img {
    height: 100%;
}

.wrap-pic-max-h img {
    max-height: 100%;
}

/* ------------------------------------ */
.wrap-pic-cir {
    border-radius: 50%;
    overflow: hidden;
}

.wrap-pic-cir img {
    width: 100%;
}


/*[ Hover ]
-----------------------------------------------------------
*/
.hov-pointer:hover {
    cursor: pointer;
}

/* ------------------------------------ */
.hov-img-zoom {
    display: block;
    overflow: hidden;
}

.hov-img-zoom img {
    width: 100%;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}

.hov-img-zoom:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}


/*[  ]
-----------------------------------------------------------
*/
.bo-cir {
    border-radius: 50%;
}

.of-hidden {
    overflow: hidden;
}

.visible-false {
    visibility: hidden;
}

.visible-true {
    visibility: visible;
}


/*[ Transition ]
-----------------------------------------------------------
*/
.trans-0-1 {
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}

.trans-0-2 {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.trans-0-3 {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.trans-0-4 {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.trans-0-5 {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.trans-0-6 {
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}

.trans-0-9 {
    -webkit-transition: all 0.9s;
    -o-transition: all 0.9s;
    -moz-transition: all 0.9s;
    transition: all 0.9s;
}

.trans-1-0 {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}


/*[ Layout ]
///////////////////////////////////////////////////////////
*/

/*[ Flex ]
-----------------------------------------------------------
*/
/* ------------------------------------ */
.flex-w {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* ------------------------------------ */
.flex-l {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
}

.flex-r {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
}

.flex-c {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.flex-sa {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
}

.flex-sb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

/* ------------------------------------ */
.flex-t {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: flex-start;
    align-items: flex-start;
}

.flex-b {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: flex-end;
    align-items: flex-end;
}

.flex-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.flex-str {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: stretch;
    align-items: stretch;
}

/* ------------------------------------ */
.flex-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}

.flex-row-rev {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -moz-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -o-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.flex-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.flex-col-rev {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

/* ------------------------------------ */
.flex-c-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.flex-c-t {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-align-items: flex-start;
    align-items: flex-start;
}

.flex-c-b {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-align-items: flex-end;
    align-items: flex-end;
}

.flex-c-str {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-align-items: stretch;
    align-items: stretch;
}

.flex-l-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    -ms-align-items: center;
    align-items: center;
}

.flex-r-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    -ms-align-items: center;
    align-items: center;
}

.flex-sa-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    -ms-align-items: center;
    align-items: center;
}

.flex-sb-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
}

/* ------------------------------------ */
.flex-col-l {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start;
}

.flex-col-r {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-end;
    align-items: flex-end;
}

.flex-col-c {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}

.flex-col-l-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: center;
}

.flex-col-r-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: flex-end;
    align-items: flex-end;
    justify-content: center;
}

.flex-col-c-m {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.flex-col-str {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: stretch;
    align-items: stretch;
}

.flex-col-sb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
}

/* ------------------------------------ */
.flex-col-rev-l {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -ms-align-items: flex-start;
    align-items: flex-start;
}

.flex-col-rev-r {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -ms-align-items: flex-end;
    align-items: flex-end;
}

.flex-col-rev-c {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -ms-align-items: center;
    align-items: center;
}

.flex-col-rev-str {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    -o-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -ms-align-items: stretch;
    align-items: stretch;
}


/*[ Absolute ]
-----------------------------------------------------------
*/
.ab-c-m {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ab-c-t {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.ab-c-b {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.ab-l-m {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ab-r-m {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ab-t-l {
    position: absolute;
    left: 0;
    top: 0;
}

.ab-t-r {
    position: absolute;
    right: 0;
    top: 0;
}

.ab-b-l {
    position: absolute;
    left: 0;
    bottom: 0;
}

.ab-b-r {
    position: absolute;
    right: 0;
    bottom: 0;
}









